@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    .App{
        @apply relative w-full h-auto font-poppins;
    }

    .card-login,.card-register{
        background:  rgba( 255, 255, 255, 0.4 );
        box-shadow: 0 8px 20px -5px rgba( 31, 38, 135, 0.4 );
        backdrop-filter: blur( 5 );
        -webkit-backdrop-filter: blur( 5 );
        border: 1px solid rgba( 255, 255, 255, 0.1 );
    }
    .input-item{
        box-shadow: 0 4px 15px -5px rgba( 31, 38, 135, 0.4 );
        backdrop-filter: blur( 2 );
        -webkit-backdrop-filter: blur( 2 );
        font-size:0.9em;
        border: 1px solid rgba( 255, 255, 255, 0.2 );
        
        @apply  placeholder:text-white text-white border-b-2 bg-transparent  w-full mt-1 px-2 py-2 rounded-md  outline-none;
    }

    .btn{
        @apply w-full py-2 mt-4 rounded-md text-white font-[600] bg-gradient-to-r from-[#3a0ca3] to-[#3c096c] border-none ;
    }
}